<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spotify Web Lab</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div id="landing">
    <div class="search-field">
      <form action="/artists" method="get">
        <input type="search" placeholder="Search for an Artist!" name="q" id="search-bar">
        <button type="submit">Search for an Artist</button>
      </form>
    </div>
  </div>
</body>

</html>